<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @note.comment %>
</p>

<%= link_to "Write A Note", new_client_note_path(@client), class: "btn btn-primary" %>
<%= link_to 'Edit', edit_note_path(@note) class: "btn btn-primary" %> |
<%= link_to 'Back', notes_path, class: "btn btn-primary" %>
