
<!-- START CUSTOM TABS -->
          <div class="row">
            <div class="col-md-12">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-left">
                  <li class="active"><a href="#tab_1-1" data-toggle="tab">School</a></li>
                  <li><a href="#tab_2-2" data-toggle="tab">Employment</a></li>
                  <li><a href="#tab_3-2" data-toggle="tab">Tab 3</a></li>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1-1">
                   <b><%= f.label :ed_id, "School" %></b>
								    <%= f.collection_select :ed_id, Ed.all, :id, :school, {prompt: "Choose School"}, class: "btn btn-info", class: "pure-input-4-24" %>
								    <%= f.label :grade_id, "Grade" %></b>
								    <%= f.collection_select :grade_id, Grade.all, :id, :number, {prompt: "Choose Grade"}, class: "btn btn-info", class: "pure-input-4-24" %>
                  </div><!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_2-2">
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_1-">
                    <b><%= f.label :employment_id, "Employment" %></b>
								    <%= f.collection_select :employment_id, Employment.all, :id, :name, {prompt: "Choose Status"}, class: "btn btn-info", class: "pure-input-4-24" %>
                   </div>
                   </div>
                  </div><!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_3-2">
                  ...
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
              </div><!-- nav-tabs-custom -->
            </div><!-- /.col -->

            <div class="col-md-6">
              <!-- Custom Tabs (Pulled to the right) -->
              
            </div><!-- /.col -->
            
          </div> <!-- /.row -->
          <!-- END CUSTOM TABS -->