<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education</a></li>
    <li role="presentation"><a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="education">
    <fieldset>

        <div class="pure-form pure-form-stacked">
            <div class="pure-u-1 pure-u-md-2-5">
                <label for="school"><%= f.label :ed_id, "School" %></label>
                <%= f.collection_select :ed_id, Ed.all, :id, :school, {prompt: "Choose School"}, class: "btn btn-info", class: "pure-u-23-24" %>
            </div>

            <div class="pure-u-1 pure-u-md-1-4">
                <label for="grade"><%= f.label :grade_id, "Grade" %></label>
                <%= f.collection_select :grade_id, Grade.all, :id, :number, {prompt: "Choose Grade"}, class: "btn btn-info", class: "pure-u-23-24" %>
            </div>

            <div class="pure-u-1 pure-u-md-2-5">
                <label for="grad">Graduated Date</label>
                <%= f.date_field :grad_id, class: "pure-input-1" %>
            </div>
        </div>
    </fieldset>
    </div>
    <div role="tabpanel" class="tab-pane" id="employment">
      <label for="grade"><%= f.label :employment_id, "Employment" %></label>
      <%= f.collection_select :employment_id, Employment.all, :id, :name, {prompt: "Employment Status"}, class: "btn btn-info", class: "pure-input-24-24" %>
    
      <div class="pure-u-1 pure-u-md-1-3">
        <label for="wk"><%= f.label :wk_id, "Working Where?" %></label>
      <%= f.text_area :wk_id, cols: "20", rows: "1" %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>