<%=form_for(@client, html: {class: "pure-form pure-form-stacked"}) do |f| %>
     <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            <!-- beginning of rails code -->
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <legend>Legend</legend>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                            <%= f.label:firstName %>
                            <%= f.text_field :firstName, class:"pure-u-23-24", type:"text"%>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                             <%= f.label :lastName %>
                             <%= f.text_field :lastName, class:"pure-u-23-24", type:"text" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3">
                                <%= f.label :email %>
                                <%= f.text_field :email, class:"pure-u-23-24", type:"text", required: true %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3">
                                <%= f.label :phone %>
                                <%= f.text_field :phone %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3">
                                <%= f.label :gender_id %>
                                <%= f.collection_select :gender_id, Gender.all, :id, :gender, {prompt: "Choose a Gender"}, class: "btn btn-info" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3">
                                <%= f.label :dob, "Date of Birth" %>
                                <%= f.date_field :dob %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3">
                                <%= f.label :address %>
                                <%= f.text_field :address, placeholder: "Address" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3">
                                <%= f.label :city %>
                                <%= f.text_field :city, placeholder: "City" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3">
                                <%= f.label :state_id %>
                                <%= f.collection_select :state_id, State.all, :id, :name, {prompt: "Choose State"}, class: "btn btn-info" %>
                                <%= f.label :zipcode %>
                                <%= f.text_field :zipcode, class: "form-control", class:"pure-u-5-24", type:"text", placeholder: "Zipcode" %>
                            </div>
                    </div>
                </fieldset>
            
                <div class="actions">
                <%=f .submit class: "btn btn-primary" %>
            </div>
         <% end %>
         </form>