<%=form_for(@client, html: {class: "pure-form pure-form-stacked", multipart:true}) do |f| %>
     <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            <!-- beginning of rails code -->
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <!-- <legend>Client Information</legend> -->
                    <div>
                    <h2 class="account">Client Information</h2>
                    </div>
                    <div class="pure-g">
                        <fieldset>
                        <div class="pure-u-1 pure-u-md-1-3">
                            <%= image_tag @client.image_url, class: "image-client" if @client.image? %>
                            <%= f.label :image, "Client Image" %>
                            <%= f.file_field :image %>
                            <%= f.check_box :remove_image, id: "my-checkbox", :data => { :size=>'mini', 'on-color'=>'success', 'on-text'=>'Done', 'off-text'=>'Yes' } %> Remove Image?
                        </div>
                        <hr>
                        <div class="fullname">
                            <label for="fullname"><%= f.label:firstName, "First Name" %></label>
                            <%= f.text_field :firstName, class:"pure-u-2-5", type:"text", placeholder: "First Name",  required: true %>
                        
                             <label for="fullname"><%= f.label :lastName, "Last Name" %></label>
                             <%= f.text_field :lastName, class:"pure-u-2-5", type:"text", placeholder: "Last Name" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3 email">
                                <label for="email"><%= f.label :email, "Email" %></label>
                                <%= f.text_field :email, class:"pure-u-3-5", type:"text", placeholder: "example@example.com" %>

                                <label for="phone"><%= f.label :phone, "Phone" %></label>
                                <%= f.text_field :phone, placeholder: "123 456-7890" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3 gender">
                                <label for="gender"><%= f.label :gender_id, "Gender" %></label>
                                <%= f.collection_select :gender_id, Gender.all, :id, :name, {prompt: "Choose a Gender"}, class: "btn btn-info", class: "pure-input-4-24" %>
                            </div>
                            
                            
                            <div class="pure-u-1 pure-u-md-1-3 gender">
                                
                                <label for="race"><%= f.label :race_id, "Race" %></label>
                                <%= f.collection_select :race_id, Race.all, :id, :name, {prompt: "Choose a Race"}, class: "btn btn-info", class: "pure-input-4-24" %>
                            </div>
                          
                            <div class="pure-u-1 pure-u-md-1-3 dob">
                                <label for="dob"><%= f.label :dob, "Date of Birth" %></label>
                                <%= f.date_field :dob, class:"fa fa-calendar" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3 address">
                                <label for="address"><%= f.label :address, "Address" %></label>
                                <%= f.text_field :address, placeholder: "Address" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3 city">
                                <label for="city"><%= f.label :city, "City" %></label>
                                <%= f.text_field :city, placeholder: "City" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3 state">
                                <label for="state"><%= f.label :state_id, "State" %></label>
                                <%= f.collection_select :state_id, State.all, :id, :name, {prompt: "Choose State"}, class: "btn btn-info", class: "pure-input-4-24" %>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-3 zipcode">
                                <label for="zipcode"><%= f.label :zipcode, "Zipcode" %></label>
                                <%= f.text_field :zipcode, class: "form-control", class:"pure-u-5-24", type:"text", placeholder: "Zipcode" %>
                            </div>
                            <hr>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>Client Education Status
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        	<div class="pure-u-1 pure-u-md-1-3">
							<label for="school">
								<%=f .label :ed_id, "School" %>
							</label>
							<%=f .collection_select :ed_id, Ed.all, :id, :name, {prompt: "Choose School"}, class: "btn btn-info", class: "pure-u-23-24" %>
						</div>
						<div class="pure-u-1 pure-u-md-1-3">
							<label for="grade">
								<%=f .label :grade_id, "Grade" %>
							</label>
							<%=f .collection_select :grade_id, Grade.all, :id, :name, {prompt: "Choose Grade"}, class: "btn btn-info", class: "pure-u-23-24" %>
						</div>
						<div class="pure-u-1 pure-u-md-1-3">
							<label for="college"></label>
							<%=f .label:college, "College" %>
								<%=f .text_field :college_id, type: "text", placeholder: "College" %>
						</div>
						<div class="pure-u-1 pure-u-md-1-3">
							<label for="grad"></label>
							<%=f .label:grad, "High School Graduated Date" %>
								<%=f .date_field :grad, class: "fa fa-calendar" %>
						</div>

						<div class="pure-u-1 pure-u-md-1-3">
							<label>
							<%=f .check_box :enrolled %> Enrolled in College?
							</label>
						</div>

						<div class="pure-u-1 pure-u-md-1-3">
							<label>
								<%=f .check_box :ged_id %> Working in GED?
							</label>
						</div>
      </div>
    </div>
  </div>
</div>
                            </fieldset>
                    </div>
                    <!-- Employment Information -->
                    <h2 class="employment">Education / Employment Status</h2>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                           <%= render partial:'clients/education', locals: {f: f} %>
                        </div>
                        <!-- End of Employment Information -->
                        </div>
                    <!-- Referral Information -->
                    <h2 class="refferal">Referral / Insurance Information</h2>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                        <%= render partial:'clients/referred', locals: {f: f} %>
                        </div>
                        <!-- End of Referral Information -->
                        </div>
                        <!-- Client Note -->
                         <!-- <legend>Client Note <small>/ Account Notes Only</small></legend> -->
                    <h2 class="note">Account Notes</h2>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-24 ">
                            <%= f.text_area :comments, cols: "60", rows: "5" %>
                            </div>
                        </div>
                        <!-- End of Client Note -->
                </fieldset>
                <div class="actions">
                <%=f .submit class: "btn btn-primary" %> <%= link_to 'Cancel', clients_path, class: "btn btn-danger" %>
            </div>
         <% end %>
         </form>