<p id="notice"><%= notice %></p>

      <section class="content-header">
        <h1>
          Client Listing
          <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-road"></i>Home Page</a></li>
          <li class="active">YPP Cients</li>
        </ol>
      </section>
    
<br>

<!--<h1>Listing Clients</h1> -->

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Email</th>
      <th>School</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th colspan = '2'></th><th></th>
    </tr>
    <tfoot>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Email</th>
      <th>School</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th colspan = '2'></th>
    </tr>
    </tfoot>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.firstName %></td>
        <td><%= client.lastName %></td>
        <td><%= client.gender.name if client.gender %></td>
        <td><%= client.clientemail %></td>
        <td><%= client.ed.name if client.ed %></td>
        <td><%= client.phone %></td>
        <td><%= client.address %></td>
        <td><%= client.city %></td>
        <td><%= client.state.name if client.state %></td>
        <td><%= client.zipcode %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path, class: "btn btn-primary" %>