    <p id="notice"><%= notice %></p>
<section class="content-header">
        <h1>
          Current Client
          <small><%= @client.firstName %> <%=@client.lastName %></small>
        </h1>
        <ol class="breadcrumb">
          <li><a <%= link_to " Show All Clients", clients_path, class: "fa fa-road"  %></li>
          <li class="active"><%= @client.firstName %> <%=@client.lastName %></li>
        </ol>
      </section>
    
<br>
<div class="well">
<div class="row">
  <div class="col-md-3">
    <div><%= image_tag @client.image_url, class: "image-client" %></div>
    <h1 class="first-name"><%= @client.firstName %> <%=@client.lastName %></h1>
<p>
  <strong>Gender:</strong>
  <%= @client.gender.name if @client.gender %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @client.dob if @client.dob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.clientemail %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state.name if @client.state%>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.zipcode %>
</p>



<p><%= link_to "Write a note", new_client_note_path(@client), class: "btn btn-primary" %></p>
<%= link_to 'Edit Client', edit_client_path(@client), class: "btn btn-primary" %>
<%= link_to 'Back', clients_path, class: "btn btn-warning" %>

  </div>
   <div class="col-md-9">
    <% if @notes.blank? %>
      <h3>No notes yet. Be the first to write one!</h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody>
          <% @notes.each do |note| %>
            <tr>
              <td>
                <h4>
                <%= "#{note.user.first_name.capitalize} #{note.user.last_name.capitalize[0]}" %>
                </h4>
                <h5><%= localize(note.created_at, :format => :long) %></h5>
              </td>

              <td>
                <p><%= h(note.comment).gsub(/\n/, '<br/>').html_safe %></p>
                
                <% if user_signed_in? %>
                   <% if (current_user.admin?) %>
                    <%= link_to "Edit Note", edit_client_note_path(@client, note) %>   |
                    <%= link_to "Delete Note", client_note_path(@client, note), method: :delete %>
                    <% else %>
                    <% if (note.user == current_user) %> 
                    <%= link_to "Edit Note", edit_client_note_path(@client, note) %>
                  <% end %>
                <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<br>
<br>
</div>
</div>
</div>