<%= form_for(@cigarette) do |f| %>
  <% if @cigarette.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cigarette.errors.count, "error") %> prohibited this cigarette from being saved:</h2>

      <ul>
      <% @cigarette.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
