<p id="notice"><%= notice %></p>

<h1>Listing Rhealths</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rhealths.each do |rhealth| %>
      <tr>
        <td><%= rhealth.name %></td>
        <td><%= link_to 'Show', rhealth %></td>
        <td><%= link_to 'Edit', edit_rhealth_path(rhealth) %></td>
        <td><%= link_to 'Destroy', rhealth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rhealth', new_rhealth_path %>
