<%= form_for(@wk) do |f| %>
  <% if @wk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wk.errors.count, "error") %> prohibited this wk from being saved:</h2>

      <ul>
      <% @wk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
