<p id="notice"><%= notice %></p>

<h1>Listing Mhealths</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mhealths.each do |mhealth| %>
      <tr>
        <td><%= mhealth.name %></td>
        <td><%= link_to 'Show', mhealth %></td>
        <td><%= link_to 'Edit', edit_mhealth_path(mhealth) %></td>
        <td><%= link_to 'Destroy', mhealth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mhealth', new_mhealth_path %>
